The complete explanation for this notebook is at https://youranalystbuddy.com/merging-dataframes/

## merging with matching keys

In [1]:
import pandas as pd

patients_name = pd.read_csv('patients_name.csv')
patients_status = pd.read_csv('patients_status.csv')

In [2]:
patients_name.head(n=2)

  PatientID FirstName  LastName
0  p0002162     Alice     Smith
1  p0010503       Bob  Williams

In [3]:
patients_status.head(n=2)

  PatientID UrgentCare Hospitalized
0  p0010650        Yes           No
1  p0060251        Yes          Yes

In [4]:
patients_name.merge(patients_status, on='PatientID')

  PatientID FirstName  LastName UrgentCare Hospitalized
0  p0002162     Alice     Smith        Yes           No
1  p0010503       Bob  Williams         No          Yes
2  p0060251     Carol     Vinay        Yes          Yes
3  p0000515    Daniel    Traver         No           No
4  p0010650      Emma    Greene        Yes           No

## Inner join

In [5]:
patients_name = pd.read_csv('patients_name_2.csv')
patients_status = pd.read_csv('patients_status_2.csv')

In [6]:
patients_name

  PatientID FirstName  LastName
0  p0002162     Alice     Smith
1  p0010503       Bob  Williams
2  p0060251     Carol     Vinay
3  p0000515    Daniel    Traver

In [7]:
patients_status

  PatientID UrgentCare Hospitalized
0  p0060251        Yes          Yes
1  p0000515         No           No
2  p0010503         No          Yes
3  p0010650        Yes           No

In [8]:
patients_name.merge(patients_status, how='inner', on='PatientID')

  PatientID FirstName  LastName UrgentCare Hospitalized
0  p0010503       Bob  Williams         No          Yes
1  p0060251     Carol     Vinay        Yes          Yes
2  p0000515    Daniel    Traver         No           No

## Outer join

In [9]:
patients_name.merge(patients_status, how='outer', on='PatientID')

  PatientID FirstName  LastName UrgentCare Hospitalized
0  p0002162     Alice     Smith        NaN          NaN
1  p0010503       Bob  Williams         No          Yes
2  p0060251     Carol     Vinay        Yes          Yes
3  p0000515    Daniel    Traver         No           No
4  p0010650       NaN       NaN        Yes           No

## Left and Right join

In [10]:
patients_name.merge(patients_status, how='left', on='PatientID')

  PatientID FirstName  LastName UrgentCare Hospitalized
0  p0002162     Alice     Smith        NaN          NaN
1  p0010503       Bob  Williams         No          Yes
2  p0060251     Carol     Vinay        Yes          Yes
3  p0000515    Daniel    Traver         No           No

In [11]:
patients_name.merge(patients_status, how='right', on='PatientID')

  PatientID FirstName  LastName UrgentCare Hospitalized
0  p0060251     Carol     Vinay        Yes          Yes
1  p0000515    Daniel    Traver         No           No
2  p0010503       Bob  Williams         No          Yes
3  p0010650       NaN       NaN        Yes           No

## Different key names

In [12]:
patients_status = pd.read_csv('patients_status_3.csv')
patients_status.head(n=2)

     CaseID UrgentCare Hospitalized
0  p0060251        Yes          Yes
1  p0000515         No           No

In [13]:
patients_name.merge(patients_status, left_on='PatientID', right_on='CaseID')

  PatientID FirstName  LastName    CaseID UrgentCare Hospitalized
0  p0010503       Bob  Williams  p0010503         No          Yes
1  p0060251     Carol     Vinay  p0060251        Yes          Yes
2  p0000515    Daniel    Traver  p0000515         No           No